.nano .pane {background: #888;}
.nano .slider {background: #111;}

body {
    background: linear-gradient(to bottom, #000099 0%, #0099ff 100%) !important;
    border: 0 !important;
    color: #fff;
    font-family: 'Dosis', sans-serif;
}

.box-container {
    margin: 0 auto;
    width: 1100px;
    height: 700px;
    background-color: transparent;
    border: 0;
}

#header {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 350px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    width: 400px;
    background: linear-gradient(to bottom, #000099 0%, #0099ff 100%)
}

.mini-footer {
    font-size: 20px;
    text-align:center;
    margin-top: 10px;
    margin-left: 350px;
    border-radius: 10px;
    width: 400px;
    color: #fff;
    background: linear-gradient(to bottom, #000099 0%, #0099ff 100%);
    float: left;
    padding: 10px;
}

.task-list {
    background-color: #fff;
    color: #fff;
    border-radius: 10px;
    float: left;
    margin: 0 5px;
    min-height: 500px;
    padding-bottom: 15px;
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
}

.task-list input, .task-list textarea {
    width: 235px;
    font-family: 'Dosis', sans-serif;
}

.task-list input {
    height: 30px;
}

#pending {
    background: linear-gradient(to bottom, #ff3300 0%, #800000 100%);
}

#inProgress {
    background: linear-gradient(to bottom, #ffcc00 0%, #ff0000 100%);
}

#completed {
    background: linear-gradient(to bottom, #66ff66 0%, #336600 100%)
}

.todo-task {
    background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

.task-list input[type="button"]{
    width: 100%;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#add-block {
    background: linear-gradient(to bottom, #99ccff 0%, #0000cc 100%);
}

.todo-task > .task-header {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    width: 100%;
}

.todo-task > .task-date {
    padding-top: 5px;
}

h3 {
    text-align: center;
}

#delete-div {
    display: none;
    background-color: transparent;
    border: 2px dashed yellow;
    border-radius: 10px;
    height: 130px;
    padding-top: 45px;
    line-height: 75px;
    text-align: center;
    width: 240px;
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 17px;
    color: yellow;
}

